<ng-template #nameCell let-element='element'>
  {{ element.name }}
</ng-template>

<ng-template #phoneCell let-element='element'>
  {{ element.phoneNumber }}
</ng-template>

<ng-template #salaryCell let-element='element'>
  {{ element.salary }}
</ng-template>

<ng-template #responsiveCell let-element='element'>
  Salary:  {{ element.salary }}
</ng-template>

<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
  <ngx-tabledy
    searchLabel="Search item ..."
    placeholderLabel="Search"
    [data]="data"
    [columns]="columns"
    [columnTemplates]="[nameCell, phoneCell, salaryCell]"
    [responsiveTemplate]="responsiveCell">
  </ngx-tabledy>
</div>